body{
    background-color:chartreuse;
    padding-left: 34.375rem;
    padding-top: 2.5rem;
}
#clcdiv{
    background-color:black;
    width: 17.5rem;
    border-radius: 0.625rem;
}
.buttons{
    display: block;
    border-radius: 62.4375rem;
    margin: 0.125rem;
    outline: none;
    color: white;
    background-color:slategrey;
    font-size: 1.25rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.buttons:hover{
    opacity: 0.7;
}

#orangebtn1{
    background-color:orange;
}
#orangebtn2{
    background-color:orange;
}
#orangebtn3{
    background-color:orange;
}
#orangebtn4{
    background-color:orange;
}
#orangebtn5{
    background-color:orange;
}

#graybtn1{
    background-color:lightgray;
    color:black;
}
#graybtn2{
    background-color:lightgray;
    color:black;    
}
#graybtn3{
    background-color:lightgray;
    color:black;
    font-size: 2rem;
    text-align: center;
}

#buttonsdiv{
    display: grid;
    grid-template-rows: 4.375rem 4.375rem 4.375rem 4.375rem 4.375rem;
    grid-template-columns: 4.375rem 4.375rem 4.375rem 4.375rem;
}

#zero{
    grid-column-start: 1;
    grid-column-end: 3;
}

#numbers{
    width: 16.875rem;
    height: 9.375rem;
    border-radius: 1.25rem;
    background-color: black;
    color: white;
    outline: none;
    font-size: 2.5rem;
    font-family:Arial, Helvetica, sans-serif;
    border:none;
    text-align: right;
}